#  -----------------------------------------------------------------------------------------
#  $Id: .htaccess,v 1.1 2004/03/25 14:37:46 fanta2k Exp $
#
#   XT-Commerce - ebusiness solutions
#   http://www.xt-commerce.com
#
#   Copyright (c) 2003 XT-Commerce
#  -----------------------------------------------------------------------------------------
#  based on: 
#  (c) 2000-2001 The Exchange Project 
#  (c) 2002-2003 osCommerce (.htaccess,v 1.4 2001/04/22); www.oscommerce.com 
#  (c) 2003	 nextcommerce (.htaccess,v 1.3 2003/08/13); www.nextcommerce.org 
#
#  Released under the GNU General Public License 
#  -----------------------------------------------------------------------------------------
#
# This is used with Apache WebServers
# The following blocks direct HTTP requests in this directory recursively
#
# For this to work, you must include the parameter 'Limit' to the AllowOverride configuration
#
# Example:
#
#<Directory "/usr/local/apache/htdocs">
#  AllowOverride Limit
#
# 'All' with also work. (This configuration is in your apache/conf/httpd.conf file)
#
# This does not affect PHP include/require functions
#
# Example: http://server/catalog/includes/application_top.php will not work

<Files *.html>
Order Deny,Allow
Deny from all
</Files>
<Files *.php>
Order Deny,Allow
Deny from all
</Files>


# NEU
# Deflate Compression by FileType
<IfModule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/plain
 AddOutputFilterByType DEFLATE text/html
 AddOutputFilterByType DEFLATE text/xml
 AddOutputFilterByType DEFLATE text/css
 AddOutputFilterByType DEFLATE text/javascript
 AddOutputFilterByType DEFLATE application/xml
 AddOutputFilterByType DEFLATE application/xhtml+xml
 AddOutputFilterByType DEFLATE application/rss+xml
 AddOutputFilterByType DEFLATE application/atom_xml
 AddOutputFilterByType DEFLATE application/javascript
 AddOutputFilterByType DEFLATE application/x-javascript
 AddOutputFilterByType DEFLATE application/x-shockwave-flash
  <FilesMatch "\.(js|jpg|jpeg|gif|png|css)$">
   ExpiresActive on
   ExpiresDefault "access plus 1 month"
   SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>

